@model IEnumerable<Product>

	@{
    ViewData["Title"] = "Product";
	}

	<h2>Product</h2>

	@foreach (var p in Model) {

		<div>
			<h3>@p.Name</h3>
			@p.Description
			<h4>@p.Price.ToString("c")</h4>
		</div>
}
