<!DOCTYPE html>
<html>
<head>
	<meta name="viewport" content="width=device-width" />
	<link rel="stylesheet" asp-href-include="lib/bootstrap/dist/css/*.min.css" />
	<title>@ViewBag.Title</title>
</head>
<body class="panel panel-default">
	<div class="panel-heading"><h4>@ViewBag.Title</h4></div>
	<div class="panel-body">
		@RenderBody()
	</div>
</body>
</html>