<!DOCTYPE html>

<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>@ViewBag.Title</title>

    <link href="/lib/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
</head>
<body>
    <nav class="navbar bg-light navbar-expand-sm">
        <div class="container-fluid">
            <span class="navbar-brand mb-0">MVCStore</span>
             <!-- !!!! new/updated code { -->
            <div class="d-sm-inline-flex justify-content-between">
                <partial name="_LoginPartial" />
            </div>
            <!-- } -->
        </div>
    </nav>

    <div class="container-fluid">
        @if (TempData["message"] != null)
        {
            <div class="alert alert-success">@TempData["message"]</div>
        }

        @RenderBody()
    </div>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>