<!DOCTYPE html>

<html lang="en">
<head>
    <title>@ViewBag.Title</title>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link href="~/lib/twitter-bootstrap/css/bootstrap.min.css" rel="stylesheet" />
</head>
<body>
    <div class="bg-dark text-white p-2">
        <span class="navbar-brand ml-2">MVC STORE</span>

        <div style="background-color:white;display:inline-block;">
            <partial name="_LoginPartial" />
        </div>

    </div>

    <div class="container-fluid">
        @if (TempData["message"] != null)
        {
            <div class="alert alert-success">@TempData["message"]</div>
        }

        @RenderBody()
    </div>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>