  <!DOCTYPE html>

    <html lang="en">
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <title>@ViewBag.Title</title>

        <link href="/lib/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
    </head>
    <body>
        <div class="bg-dark text-white p-2">
            <span class="navbar-brand ml-2">MVC STORE</span>
        </div>

        <div class="container-fluid">
            @if (TempData["message"] != null)
            {
                <div class="alert alert-success">@TempData["message"]</div>
            }

            @RenderBody()
        </div>

        @await RenderSectionAsync("Scripts", required: false)
    </body>
    </html>